#logo-warp,
#header-warp,
#store-warp,
#cent-warp,
#list-warp {
  margin: 0 auto;
  width: 1210px;
}
#logo {
  width: 100%;
}
#logo-warp {
  height: 109px;
}
#logo-warp .logo-l {
  width: 300px;
  height: 79px;
  float: left;
  padding: 10px 0 0 10px;
}
#logo-warp .logo-l .img-a {
  display: block;
  width: 240px;
  height: 68px;
}
#logo-warp .logo-l .img-a img {
  width: 100%;
  height: 100%;
}
#logo-warp .logo-c {
  width: 570px;
  height: 79px;
  float: left;
  padding: 30px 0 0;
}
#logo-warp .logo-c .c-box {
  width: 100%;
  height: 40px;
  border: 2px solid red;
}
#logo-warp .logo-c .c-box .iconfont {
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}
#logo-warp .logo-c .c-box .btn1 {
  width: 40px;
  height: 40px;
  float: left;
}
#logo-warp .logo-c .c-box .btn2 {
  width: 460px;
  height: 100%;
  float: left;
  border: 0;
  padding-left: 10px ;
}
#logo-warp .logo-c .c-box .btn3 {
  width: 60px ;
  height: 100%;
  background-color: red;
  float: right;
  border: 1px red solid;
}
#logo-warp .logo-c #key {
  height: 30px;
  font-size: 12px;
  display: inline-block;
}
#logo-warp .logo-c #key .keyword {
  display: inline-block;
  font-size: 12px;
  line-height: 10px;
}
#logo-warp .logo-c #key .keyword li {
  float: left;
}
#logo-warp .logo-c #key .keyword li .nav-a {
  display: block  ;
  padding: 0 6px;
  color: red;
}
#logo-warp .logo-r {
  width: 300px;
  height: 69px;
  float: right;
  text-align: center;
  line-height: 40px;
  padding: 30px 0 0;
}
#logo-warp .logo-r .r-box {
  width: 180px;
  height: 40px;
  border: 1px solid red;
  float: left;
  font-size: 12px;
  color: red;
}
#logo-warp .logo-r .r-box2 {
  width: 80px;
  height: 40px;
  float: right;
  font-size: 12px;
}
#logo-warp .logo-r .r-box2 a {
  color: red;
}
#header-warp {
  height: 42px;
  position: relative;
}
#header-warp .nav-box {
  width: 100%;
  height: 100%;
  line-height: 42px   ;
}
#header-warp .nav-box li {
  float: left;
}
#header-warp .nav-box li .a-width {
  padding-right: 30px;
}
#header-warp .nav-box li a {
  display: inline-block;
  padding: 0px 20px;
  background-color: red;
  color: #ccc;
}
#header-warp .nav-box li i {
  display: inline-block;
  background-color: red;
  padding: 0 10px;
  color: #ccc;
}
.oDiv {
  width: 1210px;
  height: 470px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.img-box {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
}
.img-box .imgs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 1500px;
  text-align: center;
  line-height: 470px;
  font-size: 60px;
}
.img-box .imgs:nth-of-type(1) {
  left: 0;
}
.img-box .imgs img {
  width: 100%;
  height: 100%;
  display: block;
}
.d1 {
  font-size: 60px;
  line-height: 470px;
  font-weight: bold;
  position: relative;
  z-index: 10;
}
span:nth-of-type(1) {
  float: left;
  margin-left: 13%;
}
span:nth-of-type(2) {
  float: right;
}
.imgNav {
  width: 500px;
  height: 30px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 30px;
  /* border: 1px solid red; */
}
.imgNav li {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  float: left;
  margin: 0 10px;
  text-align: center;
  line-height: 20px;
  background-color: red;
}
#cold-warp {
  height: 470px;
  width: 1500px;
  background-color: #ccc;
  margin: 0 auto;
}
.nav-warp {
  width: 164px;
  height: 430px;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1000;
}
.nav-warp .nav-l {
  width: 164px;
  height: 100%;
  background-color: #6E6568;
  position: absolute;
}
.nav-warp .nav-l .nav-box2 {
  position: absolute;
}
.nav-warp .nav-l .nav-box2 li {
  position: absolute;
  width: 700px;
  height: 430px;
  left: 164px;
  top: -430px;
  background-color: #ffffff;
  display: none;
}
.nav-warp .nav-l .nav-box2 li .nav-box3 {
  height: 30px;
  line-height: 30px;
}
.nav-warp .nav-l .nav-box2 li .nav-box3 .zKey {
  font-size: 12px;
  color: black;
  font-weight: bold;
}
.nav-warp .nav-l .nav-box2 li .nav-box3 .pKey {
  display: inline-block;
  font-size: 12px;
}
.nav-warp .nav-l .nav-box2 li .nav-box3 .pKey a {
  padding: 0 20px ;
  border-left: 1px solid #ccc;
}
.nav-warp .nav-l .nav-box1 {
  width: 100%;
  height: 100%;
}
.nav-warp .nav-l .nav-box1 li {
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
.nav-warp .nav-l .nav-box1 li a {
  color: #ffffff;
}
.nav-warp .nav-r {
  width: 700px;
  height: 100%;
  position: absolute;
  float: left;
}
.nav-warp .nav-r .navR-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: orange;
}
#cold-warp {
  width: 1210px;
}
#store-warp {
  min-height: 1330px;
  background-color: #e5e2e2;
}
#store-warp .store-box {
  width: 100%;
  height: 100%;
}
#store-warp .store-box .a-box {
  display: block;
  width: 220px;
  height: 310px;
  background-color: #fff;
  float: left;
  padding: 5px 5px;
  margin: 5px 5px;
}
#store-warp .store-box .a-box img {
  display: block;
  width: 220px;
  height: 250px;
  border: 0;
}
#store-warp .store-box .a-box .desc {
  padding: 10px 0;
  font-size: 12px;
  color: black;
  line-height: 12px;
  width: 150px;
  max-height: 2px;
  overflow: hidden;
  padding-left: 5px;
}
#store-warp .store-box .a-box .price {
  font-size: 12px;
  line-height: 12px;
  color: red;
  margin-top: 10px;
  padding-left: 5px;
}
#footer {
  width: 100%;
  background-color: black;
}
.footer-warp {
  width: 1210px;
  height: 200px;
  margin: 0 auto;
  /* background-color: orange; */
}
.footer-warp .pass {
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
}
.footer-warp .pass a {
  color: #ffffff;
  padding: 0 5px;
}
#cent-warp {
  height: 50px;
  background-color: #e5e2e2;
  text-align: center;
  line-height: 50px;
  font-size: 26px;
  color: red;
}
#list-warp {
  height: 480px;
}
#list-warp .list-box {
  width: 100%;
  height: 100%;
  background-color: pink;
}
#list-warp .list-box .list-content {
  width: 400px;
  height: 480px;
  background-color: #ccc;
  float: left;
}
#list-warp .list-box .list-content .list-header {
  width: 100%;
  height: 70px;
  background-color: red;
}
#list-warp .list-box .list-content .list-header .list-title {
  font-size: 20px;
  color: #ffffff;
  line-height: 70px;
  padding-left: 20px;
}
#list-warp .list-box .list-content .list-show {
  width: 100%;
  height: 420px;
}
#list-warp .list-box .list-content .list-show .show-l {
  width: 200px;
  height: 260px;
  float: left;
  padding: 10px 5px 6px 5px;
  box-sizing: border-box;
  margin-left: 5px;
}
#list-warp .list-box .list-content .list-show .show-l img {
  width: 100%;
  height: 100%;
}
#list-warp .list-box .list-content .list-show .l-box {
  width: 190px;
  height: 260px;
  float: right;
  padding-right: 5px;
  box-sizing: border-box;
}
#list-warp .list-box .list-content .list-show .l-box .box-1 {
  width: 100%;
  height: 45%;
  background-color: #fff;
  position: relative;
  margin-top: 10px ;
}
#list-warp .list-box .list-content .list-show .l-box .box-1 img {
  position: absolute;
  right: 10px;
  top: 10%;
}
#list-warp .list-box .list-content .list-show .l-box .box-1 span {
  position: absolute;
  top: 20px;
  left: -20px;
  font-size: 16px;
  color: red;
}
#list-warp .list-box .list-content .list-show .l-box .box-1 h6 {
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: 12px;
  color: black;
}
#list-warp .list-box .list-content .list-show .header-img {
  width: 400px;
  height: 130px;
  float: left;
  margin-top: 10px ;
}
#list-warp .list-box .list-content .list-show .header-img img {
  width: 47%;
  height: 100%;
  float: left;
  padding-left: 5px ;
  margin-left: 5px;
}
